{% extends 'base.html.twig' %}

{% block meta %}
    <audio autoplay >
        <source src="Son/mouve.mp3" type="audio/mp3" />
    </audio>
    <meta http-equiv="refresh" content="6; {{ path('ascenseur')}}">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="offset-6 col-md-1">
            {% if ascenseur.ledLvl3  %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe2.png') }}"
                         alt="lampe">
                </div>
            {% else %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe1.png') }}"
                         alt="lampe">
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="offset-6 col-md-1">
            {% if ascenseur.ledLvl2  %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe2.png') }}"
                         alt="lampe">
                </div>
            {% else %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe1.png') }}"
                         alt="lampe">
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="offset-6 col-md-1">
            {% if ascenseur.ledLvl1  %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe2.png') }}"
                         alt="lampe">
                </div>
            {% else %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe1.png') }}"
                         alt="lampe">
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="offset-6 col-md-1">
            {% if ascenseur.ledLvl0  %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe2.png') }}"
                         alt="lampe">
                </div>
            {% else %}
                <div>
                    <img style="height: 30px; width: 20px"  src="{{ asset('lampe1.png') }}"
                         alt="lampe">
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="offset-3" style="border: solid 3px black; height: 30px; width: 70px "><p style="text-align: center">{{
                ascenseur
                .affichage }}</p></div>
    </div>

{% endblock %}
